body{
  display: flex;
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: min(3.5vw, 1em);
}

h1{
  font-size: min(5vw, 2em);
}

button{
  border-radius: 5px;
  border: 0px solid black;
  color: white;
  background-color: rgb(59, 73, 223);
  font-weight: bold;
  padding: 5px;
}

button:hover{
  background-color: rgb(24, 39, 206);
}

.content{
  width: min(90vw, 500px);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}
