body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: min(3.5vw, 1em);
}

body>div{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

h1{
  font-size: min(5vw, 2em);
}

button{
  border-radius: 5px;
  border: 0px solid black;
  color: white;
  background-color: rgb(59, 73, 223);
  font-weight: bold;
  padding: 5px;
}

button:hover{
  background-color: rgb(24, 39, 206);
}

.content{
  width: min(90vw, 500px);
}

.pro-tip{
  width: 180px;
  background-color: #26A5FF;
  color: white;
  font-weight: bold;
}

ul{
  list-style: none;
  padding-inline-start: 20px;
  margin: 0;
  position: relative;
}

li{
  padding: 2px;
}

li::before{
  content: "\1F449 ";
  position: absolute;
  left: 0px;
}
